{% extends 'women/base.html' %}


{%  block mainpage %}
    <h1>10 INSPIRING QUOTES BY FAMOUS WOMEN AND THEIR TRANSLATION</h1>
    <ul>
        <li>
            <p>English original:
                <em class="phrase">
                    “When the whole world is silent, even one voice becomes
                    powerful.”
                </em></p>
        </li>
    </ul>
    <p>When the whole world is silent, even one voice becomes powerful</p>

    <ul>
        <li>
            <p>English original:
                                <em class="phrase">

                    “Knowing what must be done does away with fear.”
                </em>
            </p>
        </li>
    </ul>
    <p>Understanding what needs to be done neutralizes fear.</p>

    <ul>
        <li>
            <p>English original:
                <em class="phrase">
                    “The most difficult thing is the decision to act, the rest is merely tenacity.”
                </em>
            </p>
        </li>
    </ul>
    <p>The hardest thing is making the decision to do something. Everything else is a matter of persistence.</p>

     <ul>
        <li>
            <p>English original:
                <em class="phrase">
                    “I am no bird; and no net ensnares me: I am a free human being with an independent will.”
                </em>
            </p>
        </li>
    </ul>
    <p>I am not a bird and no net binds me: I am a free person with free will.</p>

      <ul>
        <li>
            <p>English original:
                <em class="phrase">
                   “History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.”
                </em>
            </p>
        </li>
    </ul>
    <p>You can't escape worrying about our past. However, if we face it with courage, we will not have to relive our history.</p>

    <ul>
        <li>
            <p>English original:
                <em class="phrase">
                   “A woman is like a tea bag, she never knows how strong she is until she’s in hot water.”
                </em>
            </p>
        </li>
    </ul>
    <p>A woman is like a tea bag - she never knows how strong she is until someone lands in hot water.</p>

    <ul>
        <li>
            <p>English original:
                <em class="phrase">
                   “Trust in God: She will provide.”
                </em>
            </p>
        </li>
    </ul>
    <p>She will give you what you need.</p>
        <ul>
        <li>
            <p>English original:
                <em class="phrase">
                  “Though the sex to which I belong is considered weak you will nevertheless find me a rock that bends to no wind.”
                </em>
            </p>
        </li>
    </ul>
    <p>Even though my gender is considered weak, you will see that I am a rock that will not bend under any wind.</p>
     <ul>
        <li>
            <p>English original:
                <em class="phrase">
                  “Feet, why do I need you for when I have wings to fly?”
                </em>
            </p>
        </li>
    </ul>
    <p>Legs, why do I need you when I have wings to fly?”
</p>

{% endblock %}